@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lexend", sans-serif;
  background-color: #eef0f4;
  margin: auto;
}

.container-el {
  max-width: 320px;
}

.container-el > * {
  margin: 5px;
}

img {
  width: 350px;
}

input,
button {
  width: 320px;
  color: #432000;
  background-color: #dce1eb;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Lexend", sans-serif;
}

button {
  color: #fdfdfd;
  background-color: #82aadb;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  cursor: pointer;
}

button:active,
button:hover {
  background-color: #7296c1;
}

#list-el {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  gap: 10px;
  margin-top: 10px;
}

#list-el li {
  list-style-type: none;
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  background-color: #82aadb;
  outline: none;
  border: none;
  border-radius: 6px;
  color: #eef0f4;
  cursor: pointer;
}

#list-el li:hover {
  background-color: #ff5c5c;
}
